<!-- Login Page -->
<section class="main">
  <%= render 'login' %>
  <footer class="b_fixed">
	  <ul class="form_footer_buttons">
		  <li><a href="/password">Forgot your password?</a></li>
		  <li><a href="/customers/new">New to NFC Wallet? Create an account</a></li>
	  </ul>
	</footer>
</section>