<!-- Sign Up Page -->
<section class="main">
  <%= render 'form' %>
  <footer class="b_fixed">
	  <ul class="form_footer_buttons">
		  <li><a href="/">Do you have an account?</a></li>
	  </ul>
	</footer>
</section>